<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Dashboard</title>
  </head>
  <body>
    <h1> All Animals </h1>
    <% for (var i in animals) {%>
    <p>
      Animal: <a href='/animals/<%=animals[i]._id%>'><%= animals[i].name%></a></p>
    <p>Level of Cuteness: <%= animals[i].cuteness %></p>
    <p>Description: <%=animals[i].description %></p>
      <% } %>

    <a href='/animals/new'>Create New Animal</a>
  </body>
</html>
