<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Dashboard</title>
  </head>
  <body>
    <h1> Add A New Animal </h1>
    <form action='/animals' method='post'>
      <p>Animal:<input type='text' name='name'></p>
      <p>Level of Cuteness:<input type='text' name='cuteness'></p>
      <p>Description:<input type='text' name='description'></p>
      <input type='submit' name='' value='Add New Animal'>
    </form>
  </body>
</html>
