<h1> New Dojo </h1>
<%if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <p style='color:red;'><%=error%></p>
  <% end %>
  <% end %>
<form action='/create' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>Branch:<input type='text' name='branch'></p>
<p>Street:<input type='text' name='address'></p>
<p>City:<input type='text' name='city'></p>
<p>State:<input type='text' name='state'></p>
<input type='submit' value='Create'>
</form>

<a href='/'> Back </a>
