<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1> Welcome to QuotingDojo </h1>
    <form action='/submit_quotes' method='post'>
    <p>Your Name: <input type='text' name='name'></p>
    <p>Your Quote: <input type ='text' name='quote'></p>
      <input type='submit' value='Add My Quote'>
    </form>
    <form action= '/quotes' method='get'>
      <input type='submit' value='Skip to Quotes!'>
    </form>
  </body>
</html>
