<h1>SIGN IN</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <p id="errors"><%= err %></p>
  <% end %>
<% end %>
<form action='/create' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type='text' name='username' placeholder='username'>
<input type='submit' value="Sign In">
</form>
