<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>

    <h1>Hello, {{ user_name.first_name }}!</h1>

    <form action ='{% url "secret_app:recentSecrets" %}' method='post'>
      {% csrf_token %}
      <textarea name='content' placeholder="Your secret here..."></textarea>
      <input type='submit' value ='Post'>
    </form>
    <h1> Recent Secrets...</h1>
      {% for secret in secrets %}
      <p>
        {{secret.content}} {{secret.created_at|timesince}}
          <a href= '{% url "secret_app:like" id=secret.id %}'> Like </a>
        </p>
        <!-- {% for user in users %} -->
          <!-- {% for like in likes %}
            {% if secret.id == like.secret_id %}
              {% if like.user_id == request.session.log_user %} -->
              <!-- <p> You've already liked this secret.</p>
              {% else %} -->
              <!-- <a href= '{% url "secret_app:like" id=item.id %}'> Like </a> -->
              <!-- {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %} -->

      {% endfor %}

    <a href='{% url "secret_app:logout" %}'>log out</a>
  </body>
</html>
