<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a course</title>
  </head>
  <body>
    <h2> Are you sure you want to delete the following course?</h2>
    <label>Name: </label>
    <p>{{ courses.course_name }} </p>

    <label>Description:</label>
    <p>{{ courses.description }}</p>

    <form action='{% url "courses:index" %}' method ='post'>
      {% csrf_token %}
    <input type='submit' value='No'>
  </form>
  <form action='{% url "courses:remove" id=courses.id %}' method ='post'>
    {% csrf_token %}
    <input type='submit' value='Yes! I want to delete this'>
  </form>
  </body>
</html>
